{#导入静态资源#}
{% load static %}
{#导入css文件#}
<link rel="stylesheet" type="text/css" href={% static "css/system/reset.css" %}>
<link rel="stylesheet" type="text/css" href={% static "css/system/main.css" %}>
<link rel="stylesheet" type="text/css" href="{% static 'css/system/easyui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/system/icon.css' %}">
<script type="text/javascript" src={% static "js/jquery-3.6.0.js" %}></script>
<script type="text/javascript" src={% static "js/jquery.cookie.js" %}></script>
<script type="text/javascript" src={% static "js/jquery.base64.js" %}></script>
<script type="text/javascript" src={% static "js/easyui-lang-zh_CN.js" %}></script>
<script type="text/javascript" src={% static "js/jquery.edatagrid.js" %}></script>

